<div class="login-form-wrapper">
	<div class="login-form">
		<div class="login-top">
			<h1>Login</h1>
			<div class="social-logins">
				<%= link_to 'Log in with Github', auth_at_provider_path(:provider => :github), class: "button social-button", id: "github-login" %>
				<%= link_to 'Log in with Google', auth_at_provider_path(:provider => :google), class: "button social-button", id: "google-login" %>
				<%= link_to 'Log in with Facebook', auth_at_provider_path(:provider => :facebook), class: "button social-button", id: "facebook-login" %>
			</div>
			<div>
				<p class="login-or">or</p>
			</div>
			<%= form_tag sessions_path do %>
				<p>
					<%= text_field_tag :email, params[:email], placeholder:"Email" %>
				</p>
				<p>
					<%= password_field_tag :password,"",placeholder: "Password" %>
				</p>
				<p> <%= submit_tag "Login" %> </p>
			<% end %>
		</div>
	</div>
</div>