<div class="mailbox-head medium-12 columns">
  <h1>Your Message Inbox</h1>
</div>
<div class="medium-12 columns">
  <%= link_to "Compose", new_conversation_path, class: "button" %>
</div>
<div class="medium-12 columns">
  <% if conversation.is_trashed?(current_user) %>
    <%= link_to "Untrash", untrash_conversation_path(conversation), class: "button", method: :post %>
  <% else %>
    <%= link_to 'Delete', trash_conversation_path(conversation), class: "button", method: :post, data: {confirm: "Do you want to move this to trash?"} %>
  <% end %>
</div>


<div class="large-2 small-4 columns">
  <%= render 'mailboxes/folders' %>
</div>

<div class="large-10 small-8 columns panel">
  <%= render partial: 'messages' %>
</div>
<div>
  <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
  <div>
    <%= f.text_area :body, placeholder: "Type your reply", rows: 4 %>
  </div>
  <%= f.submit "Reply", class: "button" %>
  <% end %>
</div>


