<div class="user_form_margin">
<div class="user-form">
	<h1>Sign Up for Happy Tribe</h1>
	<%= form_for @user do |f| %>
		<div><%= f.label :first_name, :class=>'something' %>
			 <%= f.text_field :first_name %></div>
		<div><%= f.label :last_name %>
			 <%= f.text_field :last_name %></div>
		<div><%= f.label :email %>
			 <%= f.text_field :email %> </div>
		<div><%= f.label :password %>
			 <%= f.password_field :password %></div>
		<div><%= f.label :password_confirmation %>
			 <%= f.password_field :password_confirmation %></div>
		<div><%= f.submit %></div>
	<% end %>
</div>
</div>