<h1>Sign Up for Happy Tribe </h1>

<%= form_for @user do |f| %>
	<p><%= f.label :first_name %>
	<%= f.text_field :first_name %></p>
	<p><%= f.label :last_name %>
	<%= f.text_field :last_name %></p>
	<p><%= f.label :email %>
	<%= f.text_field :email %></p>
	<p><%= f.label :password %>
	<%= f.password_field :password %></p>
	<p><%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %></p>
	<p><%= f.submit %></p>
<% end %>
