<h1><%= @user.first_name %>'s Profile</h1>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<h1>Your Volunteering Arrangements</h1>

<% @user.arranged_opportunities.uniq.each do |opportunity| %>
	<p>Event: <%= opportunity.name %></p>
	<p>Organization: <%= opportunity.organization.name %></p>
	<!-- opportunity.start_time method should be going here -->
<% end %>

