<h1><%= @user.first_name %>'s Profile</h1>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<div class="user-interests">
	<h2>Update your Interests</h2>
	<% @interests.each do |interest| %>
		<% button_value = @user.has_interest?(interest) ? "Remove" : "Add" %>
 		<%= button_to "#{button_value} #{interest.name}", interests_user_path(:interest => interest), method: 'patch' %>
	<% end %>
</div>

<div class="user-skills">
	<h2>Update your Skills</h2>
	<% @skills.each do |skill| %>
		<% button_value = @user.has_skill?(skill) ? "Remove" : "Add" %>
 		<%= button_to "#{button_value} #{skill.name}", skills_user_path(:skill => skill), method: 'patch' %>
	<% end %>
</div>



<div class="user-bookmarks">
	<h2>Your Bookmarked Events</h2>
	 <% current_user.bookmarked_events.each do |event| %>
	 	<div>
	 		<p>Your bookmarks: <%= event.organization.name %> <br/>
	 											 <%= event.name %> <br/>
	 											 <%= event.location %> <br/>	 											 
	 											 <%= event.start_time %> <%= event.end_time %>
	 		</p>	 											 
	 	</div>
	<% end %>
</div>
