<div class="user-profile">
  <h1><%= @user.first_name %>'s Profile</h1>

  <p>
    <%= @user.first_name %>
    <%= @user.last_name %> |
    <%= @user.email %> |
    <%= link_to 'Edit User Details', edit_user_path(@user) %>
  </p>

  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#arrangements">Confirmed</a></li>
    <li class="tab-title"><a href="#bookmarks">Bookmarks</a></li>
    <li class="tab-title"><a href="#interests">Interests</a></li>
    <li class="tab-title"><a href="#skills">Skills</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="arrangements">
      <div class="user-arrangements">
        <h2>Your Volunteering Arrangements</h2>
        <% if current_user.arrangements.any? %>
          <% current_user.arrangements.each do |arrangement| %>
            <div>
              <% event = arrangement.event %>
              <p>
                <%= link_to "#{event.name}", event_path(event) %><br/>
                <%= event.role %><br/>
                <%= event.organization.name %><br/>
                <%= event.location %><br/>
                <%= arrangement.timeslot.start_time.strftime("%A, %b %d, %Y at %I:%M%p") %> to <%= arrangement.timeslot.end_time.strftime("%I:%M%p") %>
              </p>
              <%= button_to "Cancel this arrangement",
              timeslot_arrangement_path(arrangement.timeslot, arrangement),
              :method => :delete, class: 'button round' %>
            </div>
          <% end %>
        <% else %>
          <p>You haven't arranged to volunteer at any upcoming events!</p>
          <%= link_to 'Visit our events page to browse upcoming events', events_path %>
        <% end %>
      </div>
    </div>
    <div class="content" id="bookmarks">
      <div class="user-bookmarks bookmark">
        <h2>Your Bookmarked Events</h2>
        <% if current_user.bookmarks.any? %>
          <ul id="sorted-bookmarks">
            <% current_user.bookmarks.each do |bookmark| %>
              <% event = bookmark.event %>
              <li id="bookmark_<%= bookmark.position %>">
                <%= link_to "#{event.name}", event_path(event) %> | <%= event.role %></br>
                <%= event.start_time.strftime("%A, %b %d, %Y at %I:%M%p") %> <%= event.end_time.strftime("%I:%M%p") %> <br/>
                <%= button_to "Delete this bookmark",
              event_bookmark_path(bookmark.event, bookmark),
              :method => :delete, class: 'button round' %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>You currently have no saved events in your bookmarks</p>
          <%= link_to 'Visit our events page to browse upcoming events', events_path %>
        <% end %>
      </div>
    </div>
    <div class="content" id="interests">
      <div class="user-interests">
        <h2>Your Interests</h2>
        <p>Add and remove your interests below. These can be used to filter volunteer opportunities. You can add as many as you like!</p>
        <%= form_for @user do |f| %>
          <%= f.collection_select( :interest_ids, @interests, :id, :name, {}, { multiple: true, class: 'select' })  %><br/>
          <%= f.submit 'Update Interests', class: 'button round' %>
        <% end %>
      </div>
    </div>
    <div class="content" id="skills">
      <div class="user-skills">
        <h2>Your Skills</h2>
        <p>Add and remove your skills below. These can be used to filter volunteer opportunities. You can add as many as you like!</p>
        <%= form_for @user do |f| %>
          <%= f.collection_select( :skill_ids, @skills, :id, :name, {}, { multiple: true, class: 'select' })  %><br/>
          <%= f.submit 'Update Skills', class: 'button round' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script src="/assets/javascripts/bookmarks.js"></script>