<h1><%= @user.first_name %>'s Profile</h1>

<p>
	<%= @user.first_name %>
	<%= @user.last_name %> |
	<%= @user.email %> |
	<%= link_to 'Edit User Details', edit_user_path(@user) %>
</p>

<div class="user-interests">
	<h2>Update your Interests</h2>
	<% @interests.each do |interest| %>
		<% button_value = @user.has_interest?(interest) ? "Remove" : "Add" %>
 		<%=
	 		button_to "#{button_value} #{interest.name}",
	 		interests_user_path(:interest => interest),
	 		method: 'patch'
 		%>
	<% end %>
</div>

<div class="user-skills">
	<h2>Update your Skills</h2>
	<% @skills.each do |skill| %>
		<% button_value = @user.has_skill?(skill) ? "Remove" : "Add" %>
 		<%=
 			button_to	"#{button_value} #{skill.name}",
			skills_user_path(:skill => skill),
			method: 'patch'
		%>
	<% end %>
</div>

<div class="user-arrangements">
	<h2>Your Volunteering Arrangements</h2>
	<% current_user.arrangements.each do |arrangement| %>
		<div>
			<% event = arrangement.event %>
			<p>
				<%= link_to "#{event.name}", event_path(event) %> <br/>
				<%= event.role %> <br/>
				<%= event.organization.name %> <br/>
				<%= event.location %> <br/>
				<%= arrangement.timeslot.start_time %> to <%= arrangement.timeslot.end_time %>
			</p>
			<%= button_to "Cancel this arrangement",
			timeslot_arrangement_path(arrangement.timeslot, arrangement),
			:method => :delete %>
		</div>
	<% end %>
</div>

<div class="user-bookmarks">
	<h2>Your Bookmarked Events</h2>
	 <% current_user.bookmarks.each do |bookmark| %>
	 	<div>
	 		<% event = bookmark.event %>
	 		<p>
				<%= link_to "#{event.name}", event_path(event) %> <br/>
	 			<%= event.role %><br/>
	 			<%= event.organization.name %> <br/>
				<%= event.location %> <br/>
				<%= event.start_time %> <%= event.end_time %>
				<%= button_to "Delete this bookmark",
			event_bookmark_path(bookmark.event, bookmark),
			:method => :delete %>
	 		</p>
	 	</div>
	<% end %>
</div>
