<h1><%= @user.first_name %>'s Profile</h1>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<div class="user-arrangements">
	<h2>Your Volunteering Arrangements</h2>
	<% @current_user.arrangements.each do |arrangement| %>
		<div>
			<p>You have booked: <%= arrangement.timeslot.event.organization.name %> <br/>
													<%= arrangement.timeslot.event.name %> <br/>
													<%= arrangement.timeslot.event.location %> <br/>
													<%= arrangement.timeslot.start_time %> <%= arrangement.timeslot.end_time %></p>
			<%= button_to "Cancel", timeslot_arrangement_path(arrangement.timeslot, arrangement),
			:method => :delete %>
		</div>
	<% end %>
</div>

