<h1><%= @user.first_name %>'s Profile</h1>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<h2>Your Volunteering Arrangements</h2>

<div class="user-arrangements">
	<% @current_user.timeslots.uniq.each do |timeslot| %>
		<div>
			<p>You have booked: <%= timeslot.event.organization.name %> <br/>
													<%= timeslot.event.name %> <br/>
													<%= timeslot.event.location %> <br/>
													<%= timeslot.start_time %> <%= timeslot.end_time %></p>
</div>
	<% end %>
</div>

