<h1><%= @user.first_name %>'s Profile</h1>

<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<h2>Your Volunteering Arrangements</h2>

<div class="user-arrangements">
	<% @user.arranged_events.uniq.each do |event| %>
		<p>Event: <%= link_to "#{event.name}", event_path(event) %></p>
		<p>Organization: <%= event.organization.name %></p>
		<p>Date: <%= event.start_time.strftime("%A, %m/%d/%y") %></p>
	<% end %>
</div>

