
<div class="event">
	<p>Name: <%= link_to event.name, event_path(event) %></p>
	<p>Role: <%= event.role %></p>
	<p>Organization: <%= link_to event.organization.name, organization_path(event.organization) %></p>
	<p>Location: <%= event.location %></p>
</div>

<div id="timeslot-list">
	<h4>Choose a timeslot to volunteer at!<h4>
	<% if logged_in? %>
		<%= render partial: 'timeslots/timeslot', collection: event.timeslots.order(start_time: :asc) %>
	<% else %>
		<p><a href="/login">Login</a> or <a href="/signup">Sign-up</a> to volunteer at this event</p>
	<% end %>
</div>