<ul class="example-orbit" data-orbit>
  <li class="orbit_image">
    <%= image_tag("user_browing.png")%>
  </li>
  <li class="orbit_image">
    <%= image_tag("user_browing.png")%>
  </li>
  <li class="orbit_image">
    <%= image_tag("user_browing.png")%>
  </li>
</ul>

<div class="body-margin">
  <h1 class="all-volunteering">Upcoming Volunteering Events in <span id="location">Toronto</span>

  <% if logged_in? %>
  	<span class="filter-button" id="index_filter_button">
  			<%= render 'filter_buttons' %>
  	</span>
  <% end %>
  </h1>

  <div class="events-list">
  	<%= render @events %>
  </div>
</div>

<!-- <h3 id="browse-interest">Browse by Interests</h3> -->