<div class="events-list">
	<h1>All Volunteering Events</h1>

		<%= search_form_for @q do |f| %>
      <%= f.label :search %>

      <%= f.search_field :name_or_location_or_organization_id_or_description_or_interests_name_or_skills_name_cont %>

      <%= f.submit %>

    <% end %>

	<%= render @events %>
</div>