<ul class="example-orbit" data-orbit>
  <li class="orbit_image">
    <%= image_tag("coffee.jpg")%>
  </li>
  <li class="orbit_image">
    <%= image_tag("coffee.jpg")%>
  </li>
  <li class="orbit_image">
    <%= image_tag("phone.jpg")%>
  </li>
</ul>

<div class="body_margin">
  <h1 class="all-volunteering">Upcoming Volunteering Events in <span id="location">Toronto</span></h1>

  <% if logged_in? %>
  	<div class="filter-box">
  			<%= render 'filter_form' %>
  	</div>
  <% end %>

  <div class="events-list">
  	<%= render @events %>
  </div>

</div>

<h3 id="browse-interest">Browse by Interests</h3>