<div class="event-show">
	<h1>Name: <%= @event.name %></h1>
	<li class="image"><%= image_tag(@event.image_url) %></li>
	<p>Role: <%= @event.role %></p>
	<p>Organization: <%= link_to @event.organization.name, organization_path(@event.organization) %></p>
	<p>Location: <%= @event.location %></p>
	<p>Date: <%= @event.start_time.strftime("%A, %m/%d/%y") %></p>
	<p>Event Length: <%= @event.start_time.strftime("%l:%M%P") %> to <%= @event.end_time.strftime("%l:%M%P") %>
</div>

<div class="bookmark">
	<%= render 'bookmarks/form' %>
</div>


<div id="timeslot-list">
	<h2>Choose a timeslot to volunteer at!</h2>
	<% if logged_in? %>
		<%= render partial: 'timeslots/timeslot', collection: @event.timeslots.order(start_time: :asc) %>
	<% else %>
		<p><a href="/login">Login</a> or <a href="/signup">Sign-up</a> to volunteer at this event</p>
	<% end %>
</div>

<div id="event-map" data-latitude=<%= @event.latitude %> data-longitude=<%= @event.longitude %> >
</div>
