<div class="event-show small-12 large-8 columns top_title_space">
  <h1><%= @event.role %></h1>
  <h3><%= @event.name %></h3>
  <% if logged_in? %>
    <% if current_user.is_authorized?(@event.organization) || current_user.admin %>

      <%= button_to "Edit Event", edit_organization_event_path(@event.organization, @event), class: "button round", method: "get" %>

      <%= button_to "Cancel Event", organization_event_path(@event.organization, @event), class: "button round", method: "delete", data: { confirm: "Are you sure you wish to cancel this event?"} %>

    <% end %>
  <% end %>
  <div class="image">
    <%= image_tag @event.event_image.url(:mobile) %>
  </div>
  <div class="bookmark">
    <%= form_for [@event, @bookmark] do |f| %>
        <%= f.submit value: "add to bookmarks", class: 'button round' %>
    <% end %>
  </div>
  <div class="event-details">
    <p>Organization: <%= link_to @event.organization.name, organization_path(@event.organization) %></p>
    <p><%= @event.start_time.strftime("%A, %m/%d/%y") %></p>
    <p><%= @event.start_time.strftime("%l:%M%p") %> - <%= @event.end_time.strftime("%l:%M%p") %></p>
    <p><%= @event.location %></p>
  </div>
  <div id="timeslot-list-show">
    <h3>Book your time now</h3>
    <%= render partial: 'timeslots/timeslot', collection: @event.timeslots.order(start_time: :asc) %>
  </div>

  <div data-latitude=<%= @event.latitude %> data-longitude=<%= @event.longitude %> id="event-map" ></div>
</div>

<div class="small-12 large-4 columns topspace">
<div class="panel callout radius">
  <h1><%= @event.organization.name %></h1>
  <h5><%= @event.organization.description %></h5>
  <p><%= @event.organization.website_url %></p>
  <p><%= mail_to(@event.organization.email) %></p>
  <ul>
    <% @event.organization.events.each do |event| %>
      <li><%= event.role %> - <%= event.name %></li>
      <li><%= event.start_time.strftime("%F") %></li></br>
    <% end %>
  </ul>
</div>
</div>


<div class="all-arrangements small-12 columns ">
  <% if logged_in? %>
    <% if current_user.is_authorized?(@event.organization) || current_user.admin %>
      <h2>View all Volunteering Arrangements for this Event</h2>
      <% @event.timeslots.each do |timeslot| %>
        <ul>
          <li><h3>Volunteers for <%= timeslot.starts_at %>-<%= timeslot.ends_at %></h3></li>
          <ul>
            <% if timeslot.arrangements.any? %>
              <% timeslot.arrangements.each do |arrangement| %>
                <li><%= "#{arrangement.user.first_name} #{arrangement.user.last_name} - Contact at:" %>
                <%= mail_to(arrangement.user.email) %></li>
              <% end %>
            <% else %>
              <li>No volunteers for this timeslot</li>
            <% end %>
          </ul>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>







