<div class="row">
  <div class="event-show small-12 large-8 columns top_title_space">
    <div class="panel callout radius">
      <div class="row">
        <div class="small-12 large-7 columns">
          <div class="image">
            <%= image_tag @event.event_image.url(:show) %>
          </div>
          <h1 class="event_role_margin"><%= @event.role %></h1>
          <h3><%= @event.name %></h3>
          <div class="event-details">
            <p><%= link_to @event.organization.name, organization_path(@event.organization) %></p>
            <p><%= @event.start_time.strftime("%F %n %I:%M %p") %> - <%= @event.end_time.strftime("%I:%M %p") %></p>
          </div>
          <p><%= @event.description %></p>
          <div id="timeslot-list-show">
            <h3>Book your time now</h3>
            <%= render partial: 'timeslots/timeslot', collection: @event.timeslots.order(start_time: :asc) %>
          </div>
        </div>
        <div class="small-12 large-5 columns">
          <div data-latitude="<%= @event.latitude %>" data-longitude="<%= @event.longitude %>" id="event-map"> </div>
          <p><%= @event.location %></p>
          <p><%= form_for [@event, @bookmark] do |f| %>
              <%= f.submit value: "add to bookmarks", class: 'button' %>
            <% end %>
          </p>
          <p><%= social_share_button_tag(@event.name, :popup => "true") %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 large-4 columns topspace">
    <div class="panel callout radius">
    <h3><%= @event.organization.name %></h3>
    <h5><%= @event.organization.description %></h5>
    <p><%= link_to "#{@event.organization.website_url}", @event.organization.website_url %></p>
    <p><%= mail_to(@event.organization.email) %></p>
    <ul>
      <% @event.organization.events.each do |event| %>
        <li><%= event.role %> - <%= event.name %></li>
        <li><%= event.start_time.strftime("%F") %></li></br>
      <% end %>
    </ul>
    </div>
  </div>
</div>

<% if logged_in? %>
  <% if current_user.is_authorized?(@event.organization) || current_user.admin %>

    <%= link_to "Edit Event", edit_organization_event_path(@event.organization, @event), class: "button round" %>

    <%= button_to "Cancel Event", organization_event_path(@event.organization, @event), class: "button round", method: "delete", data: { confirm: "Are you sure you wish to cancel this event?"} %>
  <% elsif @event.organization.event_coordinator %>
    <%= link_to "Message the event coordinator!", new_conversation_path(:recipients => [@event.organization.event_coordinator]), class: "button round" %>
  <% end %>
<% end %>

<div class="all-arrangements small-12 columns ">
  <% if logged_in? %>
    <% if current_user.is_authorized?(@event.organization) || current_user.admin %>
      <h2>View all Volunteering Arrangements for this Event</h2>
      <% @event.timeslots.each do |timeslot| %>
        <ul>
          <li><h3>Volunteers for <%= timeslot.starts_at %>-<%= timeslot.ends_at %></h3></li>
          <ul>
            <% if timeslot.arrangements.any? %>
              <% timeslot.arrangements.each do |arrangement| %>
                <li><%= "#{arrangement.user.first_name} #{arrangement.user.last_name} - Contact at:" %>
                <%= mail_to(arrangement.user.email) %></li>
              <% end %>
            <% else %>
              <li>No volunteers for this timeslot</li>
            <% end %>
          </ul>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>







