<div class="event-show large-6 medium-6 small-12 columns">
	<h1>Name: <%= @event.name %></h1>
	<% if current_user.is_authorized?(@event) %>
		<%= button_to "Edit Event", edit_organization_event_path(@event.organization, @event), class: "button round", method: "get" %>
	<% end %>
	<div class="image"><%= image_tag(@event.image_url) %></div>
	<div class="bookmark">
		<%= form_for [@event, @bookmark] do |f| %>
		    <%= f.submit value: "add to bookmarks", class: 'button round' %>
		<% end %>
	</div>
	<p>Role: <%= @event.role %></p>
	<p>Organization: <%= link_to @event.organization.name, organization_path(@event.organization) %></p>
	<p>Location: <%= @event.location %></p>
	<p>Date: <%= @event.start_time.strftime("%A, %m/%d/%y") %></p>
	<p>Event Length: <%= @event.start_time.strftime("%l:%M%P") %> to <%= @event.end_time.strftime("%l:%M%P") %>
	<div id="timeslot-list-show">
		<h3>Choose a timeslot to volunteer at!</h3>
		<%= render partial: 'timeslots/timeslot', collection: @event.timeslots.order(start_time: :asc) %>
	</div>
</div>

<div id="event-map" data-latitude=<%= @event.latitude %> data-longitude=<%= @event.longitude %> >
</div>

