<div class="opportunity">
	<p>Name: <%= @opportunity.name %></p>
	<p>Start time: <%= @opportunity.start_time %></p>
	<p>End Time: <%= @opportunity.end_time %></p>
	<p>Max Capacity: <%= @opportunity.max_capacity %></p>
	<p>Location: <%= @opportunity.location %></p>
	<p>Organization: <%= link_to @opportunity.organization.name, organization_path(@opportunity.organization) %></p>
</div>

<div id="arr-form">
	<%= render partial: 'arrangements/form' %>
</div>