<div class="org-show">
 <h2>Organization: <%= @organization.name %></h2>
 <p>Email: <%= @organization.email %></p>
 <p>Website: <a href="<%= @organization.website_url %>"><%= @organization.website_url %></a></p>
 <p>Description: <%= @organization.description %></p>
</div>

<div class="org-opportunities">
	<h3>Current Volunteering Opportunities</h3>
	<!-- Should the below use another partial? -->
	<% @organization.opportunities.each do |opportunity| %>
		<h4>Name: <%= link_to "#{opportunity.name}", opportunity_path(opportunity) %></h4>
		<p>Location:<%= opportunity.location %></p>
		<p>Date: <%= opportunity.start_time.strftime("%A, %m/%d/%y") %>
	<% end %>
</div>
