<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= javascript_include_tag "vendor/modernizr" %>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key}" %>
  	<%= csrf_meta_tags %>
  </head>

  <body>
	<div class="tertiary-nav">
    <div class="row top-bar">
      <div class="small-12  columns">
        <ul class="inline-list right">
        	<li><%= link_to "Home", root_path, class: "menu" %></li>
        	<% if logged_in? %>
        		<li><%= link_to "Logout", logout_path, method: "delete", class: "menu" %></li>
        		<li><%= link_to "Profile", user_path(current_user), class: "menu" %></li>
        	<% else %>
					  <li><%= link_to 'Login', login_path, class: "menu" %></li>
					  <li><%= link_to 'Sign-up', signup_path, class: "menu" %></li>
				  <% end %>
          <!-- <li><a href="#" class="menu"> <i class="fi-list icon"></i> <span> Menu</span></a> </li> -->
          <li><a href="#" class="search-icon "><i class="fi-magnifying-glass large icon"></i></a> </li>

          <li class="search-field">
            <form>
              <div class="row collapse">
                <div class="small-12 columns">
                  <input type="text" class="dream-search" placeholder="Search all things">
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

	<div class="flashes">
		<% if flash[:notice].present? %>
			<%= flash[:notice] %>
		<% elsif flash[:alert].present? %>
			<%= flash[:alert] %>
		<% end %>
	</div>
    <%= yield %>

  </body>
</html>
