<!DOCTYPE html>
<html>
<head>
  <title>HappyTribe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key}" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<%= link_to 'Home', root_path %>
		<% if logged_in? %>
			<%= link_to 'Logout', logout_path, method: 'delete' %>
			<%= link_to 'Profile', user_path(current_user) %>
		<% else %>
			<%= link_to 'Login', login_path %>
			<%= link_to 'Sign-up', signup_path %>
		<% end %>
	</div>

	<div class="flashes">
		<% if flash[:notice].present? %>
			<%= flash[:notice] %>
		<% elsif flash[:alert].present? %>
			<%= flash[:alert] %>
		<% end %>
	</div>

<%= yield %>

</body>
</html>
