<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>


    <%= javascript_include_tag "vendor/modernizr" %>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key}" %>
  	<%= csrf_meta_tags %>
  </head>

  <body>

		<div class="navbar">
		<%= link_to 'Home', root_path %>
		<% if logged_in? %>
			<%= link_to 'Logout', logout_path, method: 'delete' %>
			<%= link_to 'Profile', user_path(current_user) %>
		<% else %>
			<%= link_to 'Login', login_path %>
			<%= link_to 'Sign-up', signup_path %>
		<% end %>
	</div>

	<div class="flashes">
		<% if flash[:notice].present? %>
			<%= flash[:notice] %>
		<% elsif flash[:alert].present? %>
			<%= flash[:alert] %>
		<% end %>
	</div>
    <%= yield %>

  <%= search_form_for @q do |f| %>
      <%= f.label :search %>

      <%= f.search_field :name_or_location_or_organization_id_or_description_or_role_or_interests_name_or_skills_name_cont %>

      <%= f.submit %>

  <% end %>

  </body>
</html>
